
<section>
  <div class="gap2 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="user-profile">
              <figure>
                <div class="edit-pp">
                  <label class="fileContainer">
                    <i class="fa fa-camera"></i>
                    <input type="file">
                  </label>
                </div>
                <img src="../../assets/images/resources/profile-image.jpg" alt="">
                <ul class="profile-controls">
                  <li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
                  <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
                  <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
                  <li>
                    <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
                      <ul class="more-dropdown">
                        <li><a href="setting.html" title="">Update Profile Photo</a></li>
                        <li><a href="setting.html" title="">Update Header Photo</a></li>
                        <li><a href="setting.html" title="">Account Settings</a></li>
                        <li><a href="support-and-help.html" title="">Find Support</a></li>
                        <li><a class="bad-report" href="#" title="">Report Profile</a></li>
                        <li><a href="#" title="">Block Profile</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ol class="pit-rate">
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class=""><i class="fa fa-star"></i></li>
                  <li><span>4.7/5</span></li>
                </ol>
              </figure>

              <div class="profile-section">
                <div class="row">
                  <div class="col-lg-2 col-md-3">
                    <div class="profile-author">
                      <div class="profile-author-thumb">
                        <img alt="author" src="../../assets/images/resources/author.jpg">
                        <div class="edit-dp">
                          <label class="fileContainer">
                            <i class="fa fa-camera"></i>
                            <input type="file">
                          </label>
                        </div>
                      </div>

                      <div class="author-content">
                        <a class="h4 author-name" href="about.html">Jack Carter</a>
                        <div class="country">Ontario, CA</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <ul class="profile-menu">
                      <li>
                        <a class="" routerLink="/time-line">Timeline</a>
                      </li>
                      <li>
                        <a class="active" routerLink="/about">About</a>
                      </li>
                      <li>
                        <a class="" routerLink="/listfriend">Friends</a>
                      </li>
                      <li>
                        <a class="" href="timeline-photos.html">Photos</a>
                      </li>
                      <li>
                        <a class="" href="timeline-videos.html">Videos</a>
                      </li>
                      <li>
                        <div class="more">
                          <i class="fa fa-ellipsis-h"></i>
                          <ul class="more-dropdown">
                            <li>
                              <a href="timeline-groups.html">Profile Groups</a>
                            </li>
                            <li>
                              <a href="statistics.html">Profile Analytics</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                    <ol class="folw-detail">
                      <li><span>Posts</span><ins>101</ins></li>
                      <li><span>Followers</span><ins>1.3K</ins></li>
                      <li><span>Following</span><ins>22</ins></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div><!-- user profile banner  -->
            <div class="col-lg-4 col-md-4">
              <aside class="sidebar">
                <div class="central-meta stick-widget">
                  <span class="create-post">Personal Info</span>
                  <div class="personal-head">
                    <span class="f-title"><i class="fa fa-user"></i> About Me:</span>
                    <p>
                      Hi, I’m John Carter, I’m 36 and I work as a Digital Designer for the “dewwater” Agency in Ontario, Canada
                    </p>
                    <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
                    <p>
                      December 17, 1985
                    </p>
                    <span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
                    <p>
                      +1-989-232435234
                    </p>
                    <span class="f-title"><i class="fa fa-medkit"></i> Blood group:</span>
                    <p>
                      B+
                    </p>
                    <span class="f-title"><i class="fa fa-male"></i> Gender:</span>
                    <p>
                      Male
                    </p>
                    <span class="f-title"><i class="fa fa-globe"></i> Country:</span>
                    <p>
                      San Francisco, California, USA
                    </p>
                    <span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
                    <p>
                      UI/UX Designer
                    </p>
                    <span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
                    <p>
                      December 20, 2001
                    </p>

                    <span class="f-title"><i class="fa fa-envelope"></i> Email & Website:</span>
                    <p>
                      <a href="wpkixx.html" title="">www.wpkixx.com</a> <a href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ebbb829f858280ab92849e99868a8287c5888486">[email&#160;protected]</a>
                    </p>

                  </div>
                </div>
              </aside>
            </div>
            <div class="col-lg-8 col-md-8">
              <div class="central-meta">
                <span class="create-post">General Info<a href="#" title="">See All</a></span>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="gen-metabox">
                      <span><i class="fa fa-puzzle-piece"></i> Hobbies</span>
                      <p>
                        I like to ride the bicycle, swimming, and working out. I also like reading design magazines, and searching on internet, and also binge watching a good hollywood Movies while it’s raining outside.
                      </p>
                    </div>
                    <div class="gen-metabox">
                      <span><i class="fa fa-plus"></i> Others Interests</span>
                      <p>
                        Swimming, Surfing, Uber Diving, Anime, Photography, Tattoos, Street Art.
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="gen-metabox">
                      <span><i class="fa fa-mortar-board"></i> Education</span>
                      <p>
                        Master of computer science, sixteen years degree From <a href="#" title="">Oxford Uniersity, London</a>
                      </p>
                    </div>
                    <div class="gen-metabox">
                      <span><i class="fa fa-certificate"></i> Work and experience</span>
                      <p>
                        Currently working in the "color hands" web development agency from the last 5 five years as <a href="#" title="">Senior UI/UX Designer</a>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="gen-metabox no-margin">
                      <span><i class="fa fa-sitemap"></i> Social Networks</span>
                      <ul class="sociaz-media">
                        <li><a class="facebook" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="vk" href="#" title=""><i class="fa fa-vk"></i></a></li>
                        <li><a class="instagram" href="#" title=""><i class="fa fa-instagram"></i></a></li>

                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="gen-metabox no-margin">
                      <span><i class="fa fa-trophy"></i> Badges</span>
                      <ul class="badged">
                        <li><img src="../../assets/images/badges/badge2.png" alt=""></li>
                        <li><img src="../../assets/images/badges/badge19.png" alt=""></li>
                        <li><img src="../../assets/images/badges/badge21.png" alt=""></li>
                        <li><img src="../../assets/images/badges/badge3.png" alt=""></li>
                        <li><img src="../../assets/images/badges/badge4.png" alt=""></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="central-meta">
                <span class="create-post">Favourit Movies & TV Shows (33) <a href="#" title="">See All</a></span>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fav-play">
                      <figure>
                        <img src="../../assets/images/resources/tvplay1.jpg" alt="">
                      </figure>
                      <span class="tv-play-title">Attaturk Tv Series 2017 </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fav-play">
                      <figure>
                        <img src="../../assets/images/resources/tvplay2.jpg" alt="">
                      </figure>
                      <span class="tv-play-title">Thor Hollywood Movie 2017 </span>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="fav-play">
                      <figure>
                        <img src="../../assets/images/resources/tvplay3.jpg" alt="">
                      </figure>
                      <span class="tv-play-title">Spider Men 2015 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- content -->
