<section>
  <div class="gap2 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="user-profile">
              <figure>
                <div class="edit-pp">
                  <label class="fileContainer">
                    <i class="fa fa-camera"></i>
                    <input type="file">
                  </label>
                </div>
                <img src="assets/images/resources/profile-image.jpg" alt="">
                <ul class="profile-controls">
                  <li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
                  <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
                  <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i
                    class="fa fa-comment"></i></a></li>
                  <li>
                    <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
                      <ul class="more-dropdown">
                        <li><a href="setting.html" title="">Update Profile Photo</a></li>
                        <li><a href="setting.html" title="">Update Header Photo</a></li>
                        <li><a href="setting.html" title="">Account Settings</a></li>
                        <li><a href="support-and-help.html" title="">Find Support</a></li>
                        <li><a class="bad-report" href="#" title="">Report Profile</a></li>
                        <li><a href="#" title="">Block Profile</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ol class="pit-rate">
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class="rated"><i class="fa fa-star"></i></li>
                  <li class=""><i class="fa fa-star"></i></li>
                  <li><span>4.7/5</span></li>
                </ol>
              </figure>

              <div class="profile-section">
                <div class="row">
                  <div class="col-lg-2 col-md-3">
                    <div class="profile-author">
                      <div class="profile-author-thumb">
                        <img alt="author" [src]="user.avatar">
                        <div class="edit-dp">
                          <label class="fileContainer">
                            <i class="fa fa-camera"></i>
                            <input type="file">
                          </label>
                        </div>
                      </div>

                      <div class="author-content">
                        <a class="h4 author-name" [routerLink]="['/time-line',user.id]">{{user.name}}</a>
                        <div class="country">{{user.address}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <ul class="profile-menu">
                      <li>
                        <a class="" [routerLink]="['/time-line',user.id]">Timeline</a>
                      </li>
                      <li>
                        <a class="" [routerLink]="['/about',user.id]">About</a>
                      </li>
                      <li>
                        <a class="" [routerLink]="['/friend',user.id]">Friends</a>
                      </li>
                      <li>
                        <a class="" href="timeline-photos.html">Photos</a>
                      </li>
                      <li>
                        <a class="" href="timeline-videos.html">Videos</a>
                      </li>
                      <li>
                        <div class="more">
                          <i class="fa fa-ellipsis-h"></i>
                          <ul class="more-dropdown">
                            <li>
                              <a href="timeline-groups.html">Profile Groups</a>
                            </li>
                            <li>
                              <a href="statistics.html">Profile Analytics</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                    <ol class="folw-detail">
                      <li><span>Posts</span>
                        <ins>101</ins>
                      </li>
                      <li><span>Followers</span>
                        <ins>1.3K</ins>
                      </li>
                      <li><span>Following</span>
                        <ins>22</ins>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div><!-- user profile banner  -->
            <div style="margin-left: 30%">
              <div class="set-title">
              </div>
              <div class="setting-meta">
                <div class="change-photo">
                  <figure><img style="width: 50px;height:50px;border-radius:15px" [src]="user.avatar"></figure>
                  <div class="edit-img">
                    <form class="edit-phto">

                      <label class="fileContainer">
                        <i class="fa fa-camera-retro"></i>
                        Chage DP
                        <input type="file">
                      </label>
                    </form>
                  </div>
                </div>
              </div>
              <div class="stg-form-area">
                <form>
                  <div>
                    <label>Display Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
                  </div>
                  <div class="uzer-nam">
                    <label>User Name</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" readonly>
                  </div>
                  <div>
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
                  </div>
                  <div>
                    <label>Email Address</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" readonly>
                  </div>
                  <div>
                    <label>Gender</label>
                    <div class="form-radio">
                      <div class="radio">
                        <label>
                          <input type="radio"  class="form-control" name="radio"><i class="check-box"></i>Male
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" class="form-control" name="radio"><i class="check-box"></i>Female
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" class="form-control" name="radio"><i class="check-box"></i>Custom
                        </label>
                      </div>
                    </div>
                  </div>
                  <div>
                    <label>Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
                  </div>
                  <div>
                    <label>Country</label>
                    <input type="text" class="form-control" id="address" name="country" [(ngModel)]="user.address">
                  </div>
                  <div>
                    <button type="submit" data-ripple="">Cancel</button>
                    <button type="button" data-ripple="" (click)="edit()">Save</button>
                  </div>
                </form>
              </div>
            </div>  <!-- edit profile -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- content -->

