<div class="coment-area" style="display: block;">
  <ul class="we-comet">
    <div *ngFor="let c of comments">
      <li>
        <div class="comet-avatar">
          <img src="assets/images/resources/nearly3.jpg" alt="">
        </div>
        <div class="we-comment">
          <h5>{{c?.users?.name}}</h5>
          <div class="friend-name">
            <div class="more">
              <div class="more-post-optns"><i class="ti-more-alt"></i>
                <ul>
                  <li><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editComment" (click)="showEditComment(c)"></i>Edit Comment
                  </li>
                  <li><i class="fa fa-trash-o" data-toggle="modal" data-target="#deletePost" (click)="deleteComment(c?.id)"></i>Delete Comment</li>
                  <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                  <li><i class="fa fa-address-card-o"></i>Boost This Post</li>
                </ul>
              </div>
            </div>

          </div>
          <br>
          <p>{{c?.content}}</p>
          <div class="inline-itms">
            <span>{{c?.date_Comment}}</span>
            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
            <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
          </div>
        </div>
      </li>
    </div>

    <li>
      <a href="#" title="" class="showmore underline">more comments+</a>
    </li>
    <li class="post-comment">
      <div class="comet-avatar">
        <img src="assets/images/resources/nearly1.jpg" alt="">
      </div>
      <div class="post-comt-box">
        <form (ngSubmit)="createComment()" [formGroup]="formComment">
          <textarea placeholder="Post your comment" formControlName="content"></textarea>
<!--          <div class="add-smiles">-->
<!--            <div class="uploadimage">-->
<!--              <i class="fa fa-image"></i>-->
<!--              <label class="fileContainer">-->
<!--                <input type="file">-->
<!--              </label>-->
<!--            </div>-->
<!--            <span class="em em-expressionless" title="add icon"></span>-->
<!--            <div class="smiles-bunch">-->
<!--              <i class="em em-&#45;&#45;1"></i>-->
<!--              <i class="em em-smiley"></i>-->
<!--              <i class="em em-anguished"></i>-->
<!--              <i class="em em-laughing"></i>-->
<!--              <i class="em em-angry"></i>-->
<!--              <i class="em em-astonished"></i>-->
<!--              <i class="em em-blush"></i>-->
<!--              <i class="em em-disappointed"></i>-->
<!--              <i class="em em-worried"></i>-->
<!--              <i class="em em-kissing_heart"></i>-->
<!--              <i class="em em-rage"></i>-->
<!--              <i class="em em-stuck_out_tongue"></i>-->
<!--            </div>-->
<!--          </div>-->

          <button class="btn-outline-success" type="submit">Send</button>

        </form>
      </div>
    </li>
  </ul>
</div>



<div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #f1="ngForm" (ngSubmit)="f1.form.valid && ngSubmitEditComment()">
          <div class="form-group">
            <label class="col-form-label">Content:</label>

            <input [(ngModel)]="contentComment" name = 'contentComment'>

          </div>
<!--          <div class="form-group">-->
<!--            <label class="col-form-label">Img:</label>-->
<!--            <input type="file" #uploadFile1 (change)="uploadFileImg1()" class="form-control" name="listImage">-->
<!--            &lt;!&ndash;            <img src="{{img.link}}" width="300" height="250">&ndash;&gt;-->
<!--            <div >-->
<!--              <figure >-->
<!--                <a>-->
<!--                  <img src="{{imgEdit}}">-->
<!--                </a>-->
<!--              </figure>-->
<!--            </div>-->
<!--          </div>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-secondary" (click)="ngSubmitEditComment()"  data-dismiss="modal">Save</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div><!-- report popup -->

